.ControlProducts {
  position: absolute;
  top: 0;

  box-sizing: border-box;
  z-index: 998;
  left: 0;
  right: 0;
  width: 100%;


  .wrap{
    display: flex;
    margin-bottom: 20px;
    position: relative;

    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(16, 24, 31, .2);


    .btn{
      width: 50%;
      border: none;
      font-size: 16px;
      font-weight: 700;
      padding: 13px 0;
      background: transparent;
    }

    .btn:last-child{
      margin-right: 1px;
    }

    .shadow_select{
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;

      background-color: rgba(0, 0, 0, 0.2);
      z-index: 2;
    }

    .select{
      width: 50%;
      box-sizing: border-box;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3;

      .select_main{
        width: 100%;
        height: 100%;
        border: none;

        font-size: 16px;
        font-weight: 700;
        padding: 13px 42px 13px 14px;

        background-color: white;
        background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQwIiB3aWR0aD0iMzgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5IDEzbDQgNmgtOHptMCAxNGw0LTZoLTh6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii44NyIvPjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-position: 100%;
        -webkit-appearance: none;
        text-transform: none;
        text-indent: 0;
      }
    }
  }

  .wrap:after{
    content: '';
    width: 1px;
    height: 45px;
    background-color: #10181f;
    opacity: 0.1;
    position: absolute;
    left: 50%;
  }
} 