.Header {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #f2f2f2;
  height: 50px;
  border-bottom: 1px solid rgba(16, 24, 31, 0.2);
  display: flex;

  z-index: 3;

  .buttonWrap{
    position: relative;
    width: 50%;
  }


} 