._enter{
  top: 100%;
}

._enter_active{
  top: 0;
  transition: top 300ms;
}

._enter_is_done{
  top: 0;
}

._exit{
  top: 0;
}

._exit_active{
  top: 100%;
  transition: top 300ms;
}

._exit_is_done{
  top: 100%
}