.ButtonMore {
  height: 45px;
  //padding: 19px 28px;

  background-color: transparent;
  border: 2px solid rgba(39, 39, 39, 0.2);
  display: block;
  width: 100%;
  max-width: 100%;
  color: #272727;
  fill: #272727;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.25s ease, fill 0.25s ease, border-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;

} 