.Input {
  background-color: transparent;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 60px;
  font-size: 18px;
  line-height: 1;
  color: #272727;
  border: none;
  -webkit-appearance: none;
} 