@import "../sito_front_mobile/src/components/Menu/animate/animate.module";

.Menu {
  height: 100%;
  width: calc(100vw - 50px);
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;
  background-color: white;
  overflow-x: hidden;


}

.backLog{
  position: fixed;
  right: 0;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100vw;
  z-index: 1;
}