.search_active{
  width: 100vw !important;
  transition: width 300ms ease-out;
  z-index: 2;
}
.search_close{
  width: 50px;
  transition: width 300ms ease-out;
  z-index: 0;
}

.Search{
  max-width: 750px;

  right: 0;
  box-sizing: border-box;


  box-shadow: none;
  height: 100%;
  margin-bottom: 0;

  composes: header_item from '../header/styles.module.scss';
}
