.card {
  cursor: pointer;
  width: 50%;
  //max-height: 60vh;
  box-sizing: border-box;
  float: left;
  padding: 15px 12px 10px;
  font-size: 14px;
  line-height: 17px;
  color: #021135;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.2);

  .wrapImg{
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 125%;
    background-color: #fff;
    margin-bottom: 57px;

  }

  .footer{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 14px;

    .brand{
      line-height: 12px;
      margin-bottom: 4px;
      margin-right: 29px;
    }

    .title{
      margin-bottom: 4px;
    }

    .cost{
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .old_price{
        margin-right: 4px;
        font-family: LyHeading,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: #021135;
        text-decoration: line-through;
        position: relative;
      }

      .price{
        font-family: Brown,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: #ed6c50;
        font-weight: 700;
        margin-right: 4px;
      }
    }

    .sale{
      margin-top: 4px;
      color: #6d7288;
    }
  }
}