.Home{
  width: 100%;
  box-sizing: border-box;
  margin-top: 2px;
  padding: 10px 5px;


  .wrap{
    height: 100%;

    & >div{margin-bottom: 10px}
    & >div:last-child{margin-bottom: 0 !important;}
  }
}