.modal {
  max-width: 750px;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .modalBody{
    background-color: white;

    .list:nth-last-child(1) {
      margin-bottom: 40px;
    }

    .list {
      margin: 0;
      list-style: none;
      padding: 0;

      .title {
        border-bottom:   1px solid rgba(0,0,0,.14);


        .link {
          display: flex;
          justify-content: space-between;
          color: #272727;
          font-weight: 400;
          line-height: 2;
          text-decoration: none;
          padding: 7px 12px;
          font-size: 16px;

          .type{
            opacity: 0.35;
            color: #272727;
            font-family: "PT Sans", sans-serif;
            font-weight: 400;
            line-height: 1;
            -ms-grid-row-align: center;
            align-self: center;
          }

          .count {
            opacity: 0.35;
            color: #272727;
            font-family: "PT Sans", sans-serif;
            font-weight: 400;
            line-height: 1;
            -ms-grid-row-align: center;
            align-self: center;
          }
        }
      }
    }
  }
}

.space{
  padding-bottom: 45px;
}
