.header{
  margin-bottom: 4px;
  box-sizing: border-box;
  padding: 0;

  .headerWrap{
    display: flex;
    height: 48px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 3px rgba(0,0,0,.12);


    .titleWrap{
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      height: 100%;

      .title{
        font-size: 16px;
        line-height: 45px;
      }
    }

    .btn{
      position: absolute;
      width: 48px;
      height: 48px;
      top: 0;
      bottom: 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }

    .btn_left{left: 0; justify-content: flex-start; margin-left: 5px};
    .btn_right{right: 0; justify-content: flex-end; margin-right: 5px}
  }
}