.wrapInput{
  align-items: center;

  .input{
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 40px 10px 16px;
    box-sizing: border-box;
    outline: none;
    appearance: none;
    border: 2px solid #e8e8e8;
  }

  .input:focus{
    border: 2px solid #ffd426;
  }

  .inputPlaceholderNo {
    color: rgba(34, 34, 34, 1);
  }

  .inputPlaceholderYes {
    color: rgba(34, 34, 34, 0.5);
  }


}

