._enter{
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

._enter_active{
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: background-color 300ms;
}

._enter_is_done{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

._exit{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

._exit_active{
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms;
}

._exit_is_done{
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}