.show_skip{
  .skip_one{transition: width 0.1s}
  .item_wrap{transition: left 0.1s}
}

.filterRow{
  height: auto;
  opacity: 1;
  position: relative;
  transition: all .3s cubic-bezier(.22,.61,.36,1);
  background: #fff;
  width: 100%;

  .skip_one{
    width: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #ec0000;
    overflow: hidden;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    box-shadow: none;
    font-size: 12px;
    outline: none;
  }

  .item_wrap{
    left: 0;
    padding: 12px 6px 12px 16px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    width: 100%;
    flex-shrink: 0;
    z-index: 1;

    .item{
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      justify-content: flex-start;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;

      .item_text_wrap{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        overflow: hidden;
        display: flex;
        -webkit-box-flex: 1;
        flex: 1;

        .title_filter_wrap{
          margin-right: 12px;
          white-space: nowrap;
        }

        .active_filters_wrap{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: rgba(0,0,0,.4);
          font-size: 16px;
          line-height: 20px;
          word-wrap: normal;
        }

      }

      .item_arrow_wrap{
        height: 15px;
        width: 15px;
        flex: 0 0 auto;
        margin-left: 7px;

        .svg{
          position: relative;
          left: 50%;
          top: 50%;
          width: 100%;
          height: 100%;
          fill: rgba(39, 39, 39, 0.8);
        }
      }

    }

  }

  .skipAnimate{
    transition: left 500ms ease-out;
  }
  .skipAnimateButton{
    transition: width 500ms ease-out;
  }
}
