
._enter{
  left: 100%;

}

._enter_active{
  left: 0;
  transition: left 200ms;
}

._enter_is_done{
  left: 0;
}

._exit{
  left: 0;

}

._exit_active{
  left: 100%;
  transition: left 100ms;

}

._exit_is_done{
  left: 100%;
}