.LoadMore {
  margin-top: auto;

  padding: 10px 5px 25px;
  box-sizing: border-box;

  .text{
    display: block;
    text-align: center;
    opacity: 0.5;
    color: #8C8C8C;
    font-family: Circe, sans-serif;
    font-size: 14px;
    margin-bottom: 12px;

  }
} 