.nextMenu{
  position: fixed;
  top: 50px;
  box-sizing: border-box;
  height: calc(100% - 50px);
  width: calc(100vw - 50px);
  z-index: 3;
  background-color: white;



  .header{
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px 10px 50px;
    position: relative;
    box-sizing: border-box;

    .img{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }

    .span{
      display: block;
      position: relative;
    }
  }


  .body {
    background-color: white;
    width: 100%;
    height: calc(100% - 54px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .ul{
      margin-bottom: 30px;

      .li:first-child{
        border-bottom: 1px solid #C4C4C4;
      }

      .li{
        padding: 15px 20px;
        border-bottom: 1px solid #C4C4C4;

        .link{
          position: relative;
          display: block;
          color: rgba(39, 39, 39, 0.8);
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;

          .img{
            position: absolute;
            right: 0;
            top: 50%;
            width: 20px;
            transform: translateY(-50%);
          }
        }
      }
    }

    .space{
      padding-bottom: 110px;
    }
  }
}

.backLogNextMenu{
  top: 0;
  position: absolute;
  height: calc(100% - 50px);
  left: 0;
  width: 100%;
}

.nextMenuOpen{
  left: 0;
  transition: left 300ms;
}


.nextMenuClose{
  left: -100%;
  transition: left 300ms;
}

.backLogNextMenuOpen{
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 300ms ease-out 300ms, display 10ms ease-out 300ms;
}

.backLogNextMenuClose{
  display: none;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms ease-out 300ms, display 10ms ease-out 300ms;
}
