.wrapBtnDone{
  z-index: 2;
  padding: 0 15px 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(180deg,hsla(0,0%,64.3%,0),hsla(0,0%,100%,.8) 63.04%);
  box-sizing: border-box;



  .button{
    -webkit-appearance: none;
    border: 0;
    position: relative;
    width: 100%;
    line-height: 44px;
    height: 44px;
    padding: 0 16px;
    transition: all .12s ease-out;
    background-color: #272727;;


    .wrapTitle{
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      font-size: 15px;
      line-height: 20px;
      vertical-align: middle;
      color: #222;

      .title{
        font-weight: 500;
        font-size: 16px;    font-family: YS Text,sans-serif;
        font-style: normal;
        font-stretch: normal;
        line-height: 20px;
        color: white;
      }
    }
  }

  .buttonFail{
    background-color: #2727277a !important;
  }
}