.Header {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 20px 10px 50px;
  position: absolute;
  box-sizing: border-box;

  .img{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }

  .span{
    display: block;
    position: relative;
  }
} 