.wrap{
  padding: 50px 22px;
  width: 100%;

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .img{
      width: 115px;
      height: 100px;
    }

    .title{
      text-align: center;
      margin-top: 24px;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
    }

    .body{
      text-align: center;
      margin-top: 12px;
      font-size: 16px;
      line-height: 24px;

      .span{
        vertical-align: -3px;
        margin: 0 6px;
        position: relative;
        top: 4px;

        svg{
          width: 30px;
          height: 30px;
          stroke: rgba(170, 170, 170, 0.54);
          fill: rgba(170, 170, 170, 0.54);
        }
      }
    }

    .buttons{
      margin-top: 24px;
      display: flex;

      .link:first-child{
        margin-right: 8px;
      }

      .link:last-child{
        margin-left: 8px;
      }

      .link{
        outline: 0;
        touch-action: manipulation;
      }
    }
  }
}