.disabled{
  .title {opacity: 0.4 !important}
  .icon {background-color: #f4f4f4 !important}
}

.checkRow{
  height: auto;
  width: 100%;
  box-sizing: border-box;

  position: relative;
  padding: 12px;
  background: #fff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;


  .checkbox{
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  .checkbox:checked + .icon:after {
    opacity: 1;
  }

  .icon{
    display: block;
    flex: 0 0 19px;
    width: 19px;
    height: 19px;
    border: 2px solid #e7e7e8;
    position: relative;
  }

  .icon:after{
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAAXNSR0IB2cksfwAAAFRQTFRFAAAA5k0z61My7FEy6lMy6lMy6lMy41U56lMy51Ux/1Ur6lMy6lMy6U436lIx6lQy/1VV6lQz7VIu6lMx6VMx6VMy6lMy6lMy6lUy6lMy6lMy51MvfOS9JwAAABx0Uk5TAAq8Qr7/wQnTFQay3Bc+rgOrHMSl4efkJNjHK5NAr/oAAABKSURBVHicVcpJDoAgFAPQqlT4gKI46/3v6RAIsZu+NAVyqropVmyztaKRZOt+9t3TfbAYRvr4jhOdnrl8hhiu3Pb0l6MYiOeVdAN02AJojAAOEQAAAABJRU5ErkJggg==);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -5px;
    width: 10px;
    height: 8px;
    opacity: 0;
  }

  .title{
    display: block;
    margin-left: 15px;
  }
}

.checkRow:last-child:after{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
}